.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.mb-0 {margin-bottom: 0;}
.mb-10 {margin-bottom: var(--space-10)}
.mb-15 {margin-bottom: var(--space-15)}
.mb-20 {margin-bottom: var(--space-20)}
.mb-25 {margin-bottom: var(--space-25)}
.mb-30 {margin-bottom: var(--space-30)}
.mb-35 {margin-bottom: var(--space-35)}
.mb-40 {margin-bottom: var(--space-40)}
.mb-45 {margin-bottom: var(--space-45)}
.mb-50 {margin-bottom: var(--space-50)}
.mb-55 {margin-bottom: var(--space-55)}
.mb-60 {margin-bottom: var(--space-60)}
.mb-65 {margin-bottom: var(--space-65)}
.mb-70 {margin-bottom: var(--space-70)}
.mb-75 {margin-bottom: var(--space-75)}
.mb-80 {margin-bottom: var(--space-80)}
.mb-85 {margin-bottom: var(--space-85)}
.mb-90 {margin-bottom: var(--space-90)}
.mb-95 {margin-bottom: var(--space-95)}
.mb-100 {margin-bottom: var(--space-100)}
.mb-110 {margin-bottom: var(--space-110)}
.mb-120 {margin-bottom: var(--space-120)}
.mb-130 {margin-bottom: var(--space-130)}
.mb-140 {margin-bottom: var(--space-140)}
.mb-150 {margin-bottom: var(--space-150)}
.mb-160 {margin-bottom: var(--space-160)}
.mb-170 {margin-bottom: var(--space-170)}
.mb-180 {margin-bottom: var(--space-180)}
.mb-190 {margin-bottom: var(--space-190)}
.mb-200 {margin-bottom: var(--space-200)}

.ml-0 {margin-left: 0;}
.ml-10 {margin-left: var(--space-10)}
.ml-15 {margin-left: var(--space-15)}
.ml-20 {margin-left: var(--space-20)}
.ml-25 {margin-left: var(--space-25)}
.ml-30 {margin-left: var(--space-30)}
.ml-35 {margin-left: var(--space-35)}
.ml-40 {margin-left: var(--space-40)}
.ml-45 {margin-left: var(--space-45)}
.ml-50 {margin-left: var(--space-50)}
.ml-55 {margin-left: var(--space-55)}
.ml-60 {margin-left: var(--space-60)}
.ml-65 {margin-left: var(--space-65)}
.ml-70 {margin-left: var(--space-70)}
.ml-75 {margin-left: var(--space-75)}
.ml-80 {margin-left: var(--space-80)}
.ml-85 {margin-left: var(--space-85)}
.ml-90 {margin-left: var(--space-90)}
.ml-95 {margin-left: var(--space-95)}
.ml-100 {margin-left: var(--space-100)}
.ml-110 {margin-left: var(--space-110)}
.ml-120 {margin-left: var(--space-120)}
.ml-130 {margin-left: var(--space-130)}
.ml-140 {margin-left: var(--space-140)}
.ml-150 {margin-left: var(--space-150)}
.ml-160 {margin-left: var(--space-160)}
.ml-170 {margin-left: var(--space-170)}
.ml-180 {margin-left: var(--space-180)}
.ml-190 {margin-left: var(--space-190)}
.ml-200 {margin-left: var(--space-200)}
