* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

details,
summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

svg:not(:root) {
  width: auto;
  //transition: all 0.2s;
}

svg.none-animation {
  transition: none;
}

body {
  padding-right: var(--scroll-width);
  margin: 0;
}

body.using-mouse {
  & textarea:focus,
  & select:focus,
  & input:focus,
  & a:focus,
  & button:focus {
    outline: none;
  }
}

textarea {
  resize: vertical;
}

.dlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1vh;
}

img {
  max-width: 100%;
  border-radius: 0;
  height: auto;
}

button {
  border: none;
  background: none;

  &[disabled] {
    pointer-events: none;
    filter: grayscale(1);
  }
}

label {
  font-weight: normal;
}

figure {
  margin: 0;
}

img[align="left"] {
  margin: vh(15) vw(25) vh(10) 0;
}

img[align="right"] {
  margin: vh(5) 0 vh(10) vw(15);
}

img[align="center"] {
  margin: 0 auto vh(15);
  display: block;
}

dt {
  font-weight: normal;
}

a {
  color: var(--white);
  text-decoration: none;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  transition: all 150ms;
}
