html {
  font-size: calc((100vw - var(--vw-min-px)) / (var(--vw-max) - var(--vw-min)) * (var(--f-max) - var(--f-min)) + var(--f-min-px)) !important;

  &.fz-20 {
    font-size: 18px !important;
  }
}

body {
  font: {
    size: $fz;
    weight: $fw;
    family: $ff;
  }
  line-height: $lh;

  @media #{$smAndDown} {
    font-size: 16px;
    line-height: 1.5;
  }
}
