.checkbox-b,
.radio-b {
  display: block;
  /* padding-left: 30px; */
  margin-top: vh(20);
  // padding: 10px 0;

  & input {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
  }
}

.checkbox-b > label::before,
.radio-b > label::before,
.checkbox-b > label::after,
.radio-b > label::after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 13px);
  width: 26px;
  height: 26px;
  box-shadow: 0 0 0 1px #E8EAF2;
  background-color: transparent;
  border-radius: 5px;
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease;
}

.radio-b > label::before {
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  left: 5px;
  background-color: transparent;
  box-shadow: 0 0 0 1px #7c7e7c;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.radio-b > label::before,
.radio-b > label::after {
  border-radius: 30px;
}

.radio-b > input:checked + label::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.checkbox-b > label::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  left: 4px;
  border: none;
  box-shadow: none;
}

.checkbox-b > input:checked + label::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M.828 13.336c-.261.304-.388.691-.357 1.091s.215.764.52 1.024l7.403 6.346a1.49 1.49 0 001.108.355c.405-.036.77-.229 1.028-.542L23.192 6.199c.254-.31.373-.7.334-1.099a1.496 1.496 0 00-.541-1.014l-2.318-1.904a1.503 1.503 0 00-2.111.207L8.811 14.25l-3.916-3.355a1.504 1.504 0 00-2.115.163z' fill='%23007AFC'/%3E%3C/svg%3E") no-repeat center center;
}

.checkbox-b > label,
.radio-b > label {
  position: relative;
  cursor: pointer;
  padding-left: rem(35);
  display: block;
}

.checkbox-b > input:focus + label::before {
  box-shadow: 0 0 0 2px #000;
}
